@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@layer components {
    .snowflake {
        position  : fixed;
        top       : -10px;
        z-index   : 9999;
        color     : white;
        font-size : 2em;
        animation : fall linear infinite;
    }

    @keyframes fall {
        to { transform : translateY(100vh);}
    }
}

@layer utilities {
    .line-clamp-3 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
